.register {
    font-size: 18px;
    color: white;

    padding: 10px 10px;

    background: #7FC3F5;
    border-radius: 7px;
    border: 1px solid black;

    margin-top: 25px;
   
}

.btn-register {
    width: 217px;

    margin-left: auto;
    margin-right: auto;
}
